<div class="auth-page">

    <div class="login-box">

        <div class="image-side">
            <img src="/images/candle.jpg">
        </div>

        <div class="form-side">

            <h2>Aromacraft</h2>

            <form action="/auth/login" method="POST">

                <input type="email" name="email" placeholder="Email" required>

                <input type="password" name="password" placeholder="Password" required>

                <button type="submit">Login</button>

            </form>

            <p>
                Don't have an account?
                <a href="/register">Register</a>
            </p>

        </div>

    </div>

</div>