
<h2>Orders</h2>

<table class="table">

<tr>
<th>User</th>
<th>Total</th>
</tr>

<% orders.forEach(order => { %>

<tr>
<td><%= order.user %></td>
<td>₹ <%= order.total %></td>
</tr>

<% }) %>

</table>