<h2>Products</h2>

<a href="/admin/products/add" class="btn btn-success mb-3">
Add Product
</a>

<table class="table">
<thead>
<tr>
<th>Name</th>
<th>Price</th>
<th>Actions</th>
</tr>
</thead>

<tbody>
<% products.forEach(product => { %>
<tr>
<td><%= product.name %></td>
<td>₹ <%= product.price %></td>
<td>

<a href="/admin/products/edit/<%= product._id %>" class="btn btn-warning btn-sm">
Edit
</a>

<a href="/admin/products/delete/<%= product._id %>" class="btn btn-danger btn-sm">
Delete
</a>

</td>
</tr>
<% }) %>
</tbody>
</table>