<!DOCTYPE html>
<html>
<head>
  <title>AromaCraft</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>

<nav>

  <a href="/">Home</a>
<a href="/products">Products</a>
<a href="/cart/checkout">Cart</a>

<% if(!user){ %>

<a href="/auth/login">Login</a>
<a href="/auth/register">Register</a>

<% } else { %>

<span>Welcome <%= user.name %></span>

<form action="/auth/logout" method="POST" style="display:inline;">
    <button type="submit">Logout</button>
</form>

  <% } %>

  <% if(user && user.role === "admin"){ %>
<a href="/admin/dashboard">Admin Panel</a>
<% } %>
</nav>


<hr>