<div class="home-hero">

  <!-- LEFT IMAGE -->
  <div class="hero-left">
    <img src="/images/hero-premium.png" alt="AromaCraft">
  </div>

  <!-- RIGHT PRODUCTS -->
  <div class="hero-right">

    <h2>Featured Products ✨</h2>

    <div class="featured-grid">

      <% products.slice(0,4).forEach(p => { %>

        <div class="featured-card">
          <img src="/uploads/<%= p.image %>">
          <h5><%= p.name %></h5>
          <p>₹ <%= p.price %></p>

          <form action="/cart/add-to-cart/<%= p._id %>" method="POST">
            <button>Add to Cart</button>
          </form>
        </div>

      <% }) %>

    </div>

  </div>

</div>