<div class="container text-center mt-5">

<h1>Welcome to AromaCraft</h1>

<p>Discover premium candels, paintings & rasin art</p>

<a href="/products">
<button class="btn btn-primary btn-lg">
Shop Now
</button>
</a>

</div>