<h2>All Products</h2>

<div class="container">
<div class="row">

<% products.forEach(product => { %>

<div class="col-md-3">

  <div class="card mb-4">

    <% if(product.image){ %>
      <img src="/uploads/<%= product.image %>" 
           class="card-img-top"
           style="height:200px; object-fit:cover;">
    <% } %>

    <div class="card-body">

      <h5 class="card-title">
        <%= product.name %>
      </h5>

      <p>₹ <%= product.price %></p>

      <a href="/products/<%= product._id %>" 
         class="btn btn-primary">
         View Product
      </a>

    </div>

  </div>

</div>

<% }) %>

</div>
</div>